@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --expense: red;
  --income: #50C878;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2fffd;
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  color: #14211f;
}

h3 {
  border-bottom: 1px solid #499486;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp.container{
  background-color: #f5f5fa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

/* Take direct divs of container */
.inc-exp.container > div {
  flex: 1;
  text-align: center;
}

/* Border in the middle */
/* Pseudo-selector to only the first div */
.inc-exp.container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: var(--income);
}

.money.minus {
  color: var(--expense);
}

label {
  display: inline-block;
  margin: 10px 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px; 
}

.list li {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #14211f;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 7px solid var(--income);
}

.list li.minus {
  border-right: 7px solid var(--expense);
}

.delete-btn {
  /* Scarlet red with horange-red hue */
  background-color: #FF2400;
  border: 0;
  color: white;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  /* Like a tag next to the transaction */
  transform: translate(-110%, -50%);
  opacity: 0;
  /* Add a fade-in transition */
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.delete-btn:focus {
  outline: 0;
}

input[type='text'], input[type='number']{
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

/* button inspired by CSS Scan */
.btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  margin: 10px 0 30px;
  width: 100%;
}

.btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.btn:focus {
  outline: 0;
}